html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.randomizerButton {
  height: 50px;
  width: 150px;
  padding: 10px;
  background-color: #88b6eb;
}

.addMoreButton {
  height: 50px;
  width: 150px;
  padding: 10px;
  background-color: #88b6eb;
}

.row {
  display: flex;
  height: 50px;
  width: 100px;
}

.column {
  margin: 10px;
  flex: 80%;
}