@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

html {
  margin: 10px;
  padding: 30px;;
  font-family: 'Nunito', sans-serif;
}

body {
 margin:0 auto 0 auto;
 text-align: center;
 font-family: monospace;
  }

canvas {
  display: block;
  border: 5px solid black;
  margin: auto;
  text-align: center;

}

h1 {
  font-family: 'Nunito', sans-serif;
}

h2 {
  font-family: 'Nunito', sans-serif;
}
p{
  font-family: 'Nunito', sans-serif;
}
