html{
  margin: 0;
  padding: 0;
}
body {
  margin: 10;
  padding: 10;
  text-align: center;
}

canvas {
  display: block;
  border: 10px dash black;
  margin-left: 380px;
  margin-right: 380px;
  border: 5px solid orange;
}

.title{
  font-family: sans-serif;
  font-kerning: auto;

}

.CTA_italic{
  font-style: italic;
}

.instruct{
  font-style: normal;
  font-family: sans-serif;
}

.content_text {
  font-family: sans-serif;
}
