html, body {
  margin: 0;
  padding: 0;
  background-color: black
}
canvas {
  display: block;
}

.randomizerButton{
  padding: 20px;
  background-color: #4287f5;
}

.row {
  display: flex;
}

.column {
  margin: 20px;
  flex: 50%;
}
