html{
  margin: 0;
  padding: 0;
}
body {
  margin: auto;
  padding: 0;
  text-align: center;
  margin-top: 20px;
}

canvas {
  z-index: -1;
  border: solid yellow;
  position: center;
  border-width: 3px;
}

.title{
  font-family: sans-serif;
  font-kerning: auto;
  color: #1ED100;

}

.CTA_italic{
  font-style: italic;
}

.instruct{
  font-style: normal;
  font-family: sans-serif;
}

.content_text {
  font-family: sans-serif;
}
