body {
  font-size: 20px;
  width: 100%;
  height: 100%;
  background-color: black;

}

h1 {
  font-family: sans-serif;
  text-align: center;
  color: white;
  margin-top: 20px;
}
main {
  width:800px;
  height: 800px;

  margin: 0px auto;
}
