html{
  margin: 0;
  padding: 0;
}
body {
  margin: 100px auto 0 auto;
  width: 80%;
  text-align: center;
  font-family: "Courier", monoface;
}
canvas {
  margin: 0 auto 0 auto;
  display: block;
  border: 5px solid black;
}
