html, body {
  margin: 0;
  padding: 0;
  font-family: 'Fredericka the Great', cursive;
  overflow: hidden; /* Hide scrollbars */
  border: 5px solid #E5C3AC;
  background-color: #354639;


}

canvas {
  display: block;
  margin: 95px auto;





}



  a:hover{
 color: white;



}

.container {
  position: relative;
  width: 5%;
}
/* macaron */
.box {
  background-color: transparent;
  position: fixed;
  bottom: 40%;
  left: 28%;
  padding: 20px;
  margin: 10px;

}
/* italian ice */
.box2 {
  background-color: transparent;
  position: fixed;
  bottom: 40%;
  right: 31%;
  padding: 20px;
  margin: 10px;

}

p {
  color: transparent;
}
