html{
  margin: 0;
  padding: 0;
}
body {
  margin: 100px auto 0 auto;
  width: 80%;
  text-align: center;
  font-family: "Courier", monoface;
}
canvas {
  margin: auto;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  border: 5px solid blue;
}
