html {
  margin: 0;
  padding: 0;
}

body {
  margin: 20px auto 0 auto;
  width: 80%;
  text-align: center;
  font-family: courier arial;
color: white;
}
canvas {
  margin: 0 auto 0 auto;
  display: block;
  border:  solid black;
}
