html, body {
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: monospace;
  font-size: 1.2rem;
  font-weight: 700;
}
canvas {
  display: block;
  margin: 50px auto;
  border: 5px solid rgb(77, 102, 8);
}

.instruction {
  width: 600px;
  margin: 50px auto;
  padding: 5px 20px;
  background: rgb(105, 125, 54);
  text-align: center;
}
